
<!DOCTYPE html>
<html lang="en" style="font-size: 16px;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gateexamdude.online, engineering concepts, exam details, tips, blogs">
    <meta name="description" content="Welcome to gateexamdude.online - your go-to destination for a variety of blogs, engineering concepts, exam details, and tips.">
    <title>GATE Exam Dude - Your Engineering Companion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>  
</head>

<body class="container-fluid">

	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">GateExamDude.com</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarToggler">

					<ul class="navbar-nav ms-auto">
						<!-- <li class="nav-item">
							<a class="nav-link active" aria-current="page" href="">Home</a>
						</li> -->
						<!-- <li>
							<a class="nav-link" href="login">Login</a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
	</header>