<div id="page-container">
    <div id="content-wrap">
      <%- include("partials/header") -%>
    </div>
  
    <div class="row">

      <div class="col-10">

        <div class="row d-flex">
          <div class="display:block card col-6 shadow-lg p-3 ms-2 mb-5 bg-body-tertiary rounded mt-1">
            <div class="card-body">
              <h5 class="card-title">Why GATE?</h5>
              <p>Qualifying the Gate exam can lead to direct interviews for Junior Research Fellow positions at DRDO, ISRO, and many other PSUs. Successful candidates can expect a monthly salary of approximately 37,000 rupees along with 40 to 50% House Rent Allowance (HRA). The level of questions in the Gate exam may seem daunting, but the potential rewards make it a worthwhile endeavor.</p>
          </div>
          </div>
        </div>

        <div class="row d-flex">
            <div class="display:block card col-6 shadow-lg p-3 ms-2 mb-5 bg-body-tertiary rounded mt-1">
              <div class="card-body">
                <a href="https://gate2024.iisc.ac.in/papers-and-syllabus/" class="card-title list-group-item list-group-item-action"><u>Link to Official gate syllabus</u></a>
              </div>
            </div>
          </div>
  
      </div>
    </div>
  
    <%- include("partials/footer") -%>
  
  </div>
  