<div id="page-container">
    <div id="content-wrap">
      <%- include("partials/header") -%>
    </div>
  
    <div class="row">
      <!-- Left menu -->
      <div class="col-2">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Gate Syllabus</a>
          <a href="#" class="list-group-item list-group-item-action">PSU syllabus</a>
          <a href="#" class="list-group-item list-group-item-action">Exam Expericence</a>
          <!-- Add more menu items as needed -->
        </div>
      </div>
  
      <!-- Content area with cards -->
      <div class="col-10">
        <div class="row d-flex">
          <div class="display:block card col-6 shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-1">
            <div class="card-body">
              <h5 class="card-title">ECE</h5>
              Welcome to GateExamDude! Ready to dive into the world of electronics and communication engineering? Whether you're gearing up for exams or just curious, we've got you covered with tips, advice, and more. Let's make learning fun and easy together!
            </div>
          </div>
        </div>
        <div class="row d-flex">
            <div class="display:block card col-6 shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-1">
              <div class="card-body">
                <a href="resister" class="card-title list-group-item list-group-item-action"><u>BEEE - Basic electrical and electrnoics engineering</u></a>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="display:block card col-6 shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-1">
              <div class="card-body">
                <a href="resister" class="card-title list-group-item list-group-item-action"><u>Network Analysis</u></a>
              </div>
            </div>
          </div>
  
          <div class="row d-flex">
            <div class="display:block card col-6 shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-1">
              <div class="card-body">
                <a href="resister" class="card-title list-group-item list-group-item-action"><u>Digital Electronics</u></a>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="display:block card col-6 shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-1">
              <div class="card-body">
                <a href="resister" class="card-title list-group-item list-group-item-action"><u>Analog Electronics</u></a>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="display:block card col-6 shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-1">
              <div class="card-body">
                <a href="resister" class="card-title list-group-item list-group-item-action"><u>EDC - electroics devices and circuits</u></a>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="display:block card col-6 shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-1">
              <div class="card-body">
                <a href="resister" class="card-title list-group-item list-group-item-action"><u>Electromagnetics</u></a>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="display:block card col-6 shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-1">
              <div class="card-body">
                <a href="resister" class="card-title list-group-item list-group-item-action"><u>Signals and Systems</u></a>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="display:block card col-6 shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-1">
              <div class="card-body">
                <a href="resister" class="card-title list-group-item list-group-item-action"><u>Maths</u></a>
              </div>
            </div>
          </div>
        <!-- Add more card sections here as needed -->
        
  
      </div>
    </div>
  
    <%- include("partials/footer") -%>
  
  </div>
  