<div id="page-container">
    <div id="content-wrap">
      <%- include("partials/header") -%>
    </div>
  
    <div class="row">

      <div class="col-10">

        <div class="row d-flex">
          <div class="display:block card col-6 shadow-lg p-3 ms-2 mb-5 bg-body-tertiary rounded mt-1">
            <div class="card-body">
              <h5 class="card-title">PSU Syllabus</h5>
              <p>Navigating the syllabi of PSU exams presents a unique challenge, as most question papers are <u>not publicly available.</u> Information found online often relies on the recollections of past exam takers. In the domain of Electronics and Communication Engineering (ECE), PSU syllabi encompass the <u>entire GATE syllabus along with additional topics such as microprocessor 8085, finite state machines, and basic instrumentation.</u> Much like the Engineering Services Examination (ESE)</p>
            </div>
          </div>
        </div>


  
      </div>
    </div>
  
    <%- include("partials/footer") -%>
  
  </div>
  