<div id="page-container">
    <div id="content-wrap">
      <%- include("partials/header") -%>
    </div>
  
    <div class="row">
      <!-- Left menu -->
      <div class="col-2">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Menu Item 1</a>
          <a href="#" class="list-group-item list-group-item-action">Menu Item 2</a>
          <a href="#" class="list-group-item list-group-item-action">Menu Item 3</a>
          <!-- Add more menu items as needed -->
        </div>
      </div>
  
      <!-- Content area with cards -->
      <div class="col-10">
        <div class="row d-flex">
          <div class="display:block card col-6 shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-1">
            <div class="card-body">
              <h5 class="card-title">Resistor</h5>
              It resists the flow of current, hence the name "resistor." Think of it as the gatekeeper, controlling the electron traffic to ensure everything runs smoothly. <br>
              <u>Resistance</u> is the measure of how much a material or device opposes the flow of electric current. <br>
              <br>
              <p>\( R = \frac{\rho \cdot L}{A} \)</p>
              R = resistance, ρ = resistivity, L = length, A = area
            </div>
          </div>
        </div>
  
        <!-- Add more card sections here as needed -->
  
      </div>
    </div>
  
    <%- include("partials/footer") -%>
  
  </div>
  